<div class="app-modal-container">
    <div class="app-modal-label">
        <p>
            {{ tittle }}
        </p>
    </div>

    <div class="app-modal-content" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-around stretch">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around stretch">
            <!-- <mat-form-field fxFlex="33%" appearance="outline">
        <mat-label>Responsable</mat-label>
        <input type="text" matInput placeholder="Responsable" [(ngModel)]="obj.responsible"
          [formControl]="responListControl" [matAutocomplete]="autoR" required />
        <mat-autocomplete fxFlex="35%" #autoR="matAutocomplete">
          <mat-option *ngFor="let r of responList | async" [value]="r.displayname">
            {{r.displayname}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->

            <mat-form-field fxFlex="33%" appearance="outline" *ngIf="this.id !== 'P'">
                <mat-label>Nombre del cliente</mat-label>
                <input type="text" placeholder="Eliga un cliente" aria-label="Number" matInput [(ngModel)]="obj.tlClientName" [formControl]="clientListControl" required />
                <!-- <mat-autocomplete fxFlex="35%" autoActiveFirstOption #autoCl="matAutocomplete" [displayWith]="displayFn.bind(this)">
                    <mat-option *ngFor="let client of clientList | async" [value]="client">
                        {{ client.nombre_completo }}
                    </mat-option>
                </mat-autocomplete> -->
            </mat-form-field>
            <mat-form-field fxFlex="33%" appearance="outline" *ngIf="this.id === 'P'">
                <mat-label>Nombre del cliente</mat-label>
                <input type="text" placeholder="Eliga un cliente" aria-label="Number" matInput [(ngModel)]="obj.tlClientName" [formControl]="clientListControl" [matAutocomplete]="autoCl" required />
                <mat-autocomplete fxFlex="35%" autoActiveFirstOption #autoCl="matAutocomplete" [displayWith]="displayFn.bind(this)">
                    <mat-option *ngFor="let client of clientList | async" [value]="client">
                        {{ client.cliente }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field fxFlex="33%" appearance="outline" *ngIf="this.id !== 'P'">
                <mat-label>Nombre del proyecto</mat-label>
                <input type="text" placeholder="Proyecto" aria-label="Number" matInput [(ngModel)]="obj.tlProjectName" [formControl]="projectListControl" required />
                <!-- <mat-autocomplete #autoP="matAutocomplete" [displayWith]="displayFnProject.bind(this)">
          <mat-option *ngFor="let project of projectList | async" [value]="project">
            {{ project.nombre }}
          </mat-option>
        </mat-autocomplete> -->
            </mat-form-field>
            <mat-form-field fxFlex="33%" appearance="outline" *ngIf="this.id === 'P'">
                <mat-label>Nombre del proyecto</mat-label>
                <input type="text" placeholder="Proyecto" aria-label="Number" matInput [(ngModel)]="obj.tlProjectName" [formControl]="projectListControl" [matAutocomplete]="autoP" required />
                <mat-autocomplete #autoP="matAutocomplete" [displayWith]="displayFnProject.bind(this)">
                    <mat-option *ngFor="let project of projectList | async" [value]="project">
                        {{ project.obra }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field fxFlex="33%" appearance="outline" *ngIf="this.id !== 'P'">
                <mat-label>Número de confirmación</mat-label>
                <input type="select" matInput placeholder="Confirmación" aria-label="Number" [(ngModel)]="obj.tlConfirmationNumber" [formControl]="confirmListControl" required />
            </mat-form-field>
            <mat-form-field fxFlex="33%" appearance="outline" *ngIf="this.id === 'P'">
                <mat-label>Número de confirmación</mat-label>
                <!--<input type="select" matInput placeholder="Confirmación" aria-label="Number" [(ngModel)]="obj.tlConfirmationNumber" [formControl]="confirmListControl" [matAutocomplete]="autoCon" required multiple />
                  <mat-select-trigger>
                    {{confirmListControl.value?.[0] || ''}}
                    <span *ngIf="(confirmListControl.value?.length || 0) > 1" class="example-additional-selection">
            (+{{ (confirmListControl.value?.length || 0) - 1 }}
            {{ confirmListControl.value?.length === 2 ? 'other' : 'others' }})
          </span>
                </mat-select-trigger> -->
                <mat-select [(ngModel)]="obj.tlConfirmationNumber" [formControl]="confirmListControl" multiple required>
                    <mat-option *ngFor="let confirm of confirmList" [value]="confirm.consecutivo">
                        {{ confirm.consecutivo }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around stretch">
            <mat-form-field fxFlex="33%" appearance="outline">
                <mat-label>Responsable</mat-label>
                <input type="text" matInput placeholder="Responsable" [(ngModel)]="obj.responsible" [formControl]="responListControl" [matAutocomplete]="autoR" required />
                <mat-autocomplete fxFlex="35%" #autoR="matAutocomplete">
                    <mat-option *ngFor="let r of responList | async" [value]="r.displayname">
                        {{ r.displayname }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field fxFlex="33%" appearance="outline">
                <mat-label>Direccion del proyecto</mat-label>
                <input type="text" matInput placeholder="Dirección" [(ngModel)]="obj.tlProjectAddress" autocomplete="off" required />
            </mat-form-field>
            <mat-form-field fxFlex="33%" appearance="outline">
                <mat-label>Email del proyecto</mat-label>
                <input type="email" id="email" matInput pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="email" [(ngModel)]="obj.tlProjectEmails" autocomplete="off" required />
                <!-- <mat-error *ngIf="obj.tlProjectEmails.invalid">{{getErrorEmail()}}</mat-error> -->
            </mat-form-field>
            <!-- <mat-form-field fxFlex="33%" appearance="outline">
        <mat-label>Número de confirmación</mat-label>
        <input type="select" matInput placeholder="Confirmación" aria-label="Number"
          [(ngModel)]="obj.tlConfirmationNumber" [formControl]="confirmListControl" [matAutocomplete]="autoCon"
          required />
        <mat-autocomplete fxFlex="35%" #autoCon="matAutocomplete">
          <mat-option *ngFor="let confirm of confirmList | async" [value]="confirm.consecutivo">
            {{ confirm.consecutivo }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="32.5%" appearance="outline">
                <mat-label>Usuario</mat-label>
                <!-- <input type="text" matInput placeholder="Usuario" [(ngModel)]="obj.userName" autocomplete="off" [disabled]="this.id !== 'P'" />-->
                <input type="text" matInput placeholder="Usuario" [(ngModel)]="obj.userName" autocomplete="off" />
            </mat-form-field>
            <mat-form-field fxFlex="32%" appearance="outline">
                <mat-label>Estado del proyecto</mat-label>
                <input type="text" placeholder="Eliga un estado" aria-label="Number" matInput [formControl]="statuListControl" [matAutocomplete]="autoS" [(ngModel)]="obj.status" required />
                <mat-autocomplete #autoS="matAutocomplete" fxFlex="35%">
                    <mat-option *ngFor="let state of statusList | async" [value]="state.statu">
                        {{ state.statu }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <!-- <mat-form-field fxFlex="33%" appearance="outline">
        <mat-label>Estado del proyecto</mat-label>
        <input type="text" matInput placeholder="Estado" [(ngModel)]="obj.status" autocomplete="off" required />
      </mat-form-field> -->
        </div>
        <div class="app-modal-label" style="justify-content: space-around">
            <section>
                <mat-checkbox class="example-margin" *ngFor="let opc of groupList" color="primary" style="margin-right: 20px" [(ngModel)]="opc.checked">{{ opc.group }}
                </mat-checkbox>
            </section>
        </div>
        <div class="app-modal-content">
            <div class="app-modal-content" style="height: auto; flex: none; padding: 10px" *ngIf="groupList[0].checked">
                <h2 style="margin: 0">Puertas</h2>
                <div fxFlex="100%" fxLayoutGap="10px" style="display: flex; align-items: flex-end; margin-bottom: 5px">
                    <div fxFlex="11%">
                        <label style="font-size: 12px; align-items: flex-start"><b>Nombre</b></label
            >
          </div>
          <div fxFlex="11%">
            <label style="font-size: 12px; align-items: flex-start">
              <b>Referencia</b></label
            >
          </div>
          <div fxFlex="30%">
            <label style="font-size: 12px; align-items: flex-start">
              <b>Descripción</b>
            </label>
                    </div>
                    <div fxFlex="25%">
                        <label style="font-size: 12px; align-items: flex-start">
              <b>Dimensiones</b>
            </label>
                    </div>
                    <div fxFlex="3%">
                        <label style="font-size: 12px; align-items: flex-start"><b>Mt 2</b></label
            >
          </div>
          <div fxFlex="12.5%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Vr.Suminstro</b></label
            >
          </div>
          <div fxFlex="12%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Vr.Instalación</b></label
            >
          </div>
          <div fxFlex="8%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Cantidad</b></label
            >
          </div>
          <div fxFlex="6%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Options</b></label
            >
          </div>
        </div>

        <div fxLayout="column" *ngFor="let item of componentDoor; index as i">
          <div
            fxFlex="100%"
            fxLayoutGap="10px"
            style="display: flex; align-items: flex-end; margin-bottom: 5px"
          >
            <div fxFlex="40%">
              <input
                placeholder="ingresar texto"
                fxFlex="30%"
                fxFlexAlign="stretch"
                type="text"
                [(ngModel)]="componentDoor[i].name"
              />
              <input
                placeholder="ref"
                fxFlex="30%"
                fxFlexAlign="stretch"
                type="text"
                [(ngModel)]="componentDoor[i].reference"
              />
              <input
                placeholder="desc"
                fxFlex="40%"
                fxFlexAlign="stretch"
                type="text"
                [(ngModel)]="componentDoor[i].description"
              />
            </div>
            <div
              fxFlex="15%"
              style="
                display: flex;
                justify-content: space-evenly;
                align-items: center;
              "
            >
              <input
                placeholder="Ancho"
                fxFlex="33%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentDoor[i].dimensions.width"
              />
              <b>x</b>
              <input
                placeholder="Alto"
                fxFlex="33%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentDoor[i].dimensions.height"
              />
              <b>x</b>
              <input
                placeholder="Prof"
                fxFlex="33%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentDoor[i].dimensions.depth"
              />
            </div>
            <div
              fxFlex="35%"
              style="display: flex; justify-content: space-between"
            >
              <input
                placeholder="area"
                fxFlex="10%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentDoor[i].dimensions.area"
              />
              <input
                placeholder="$0.00"
                fxFlex="40%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentDoor[i].supplyValue"
              />
              <input
                placeholder="$0.00"
                fxFlex="40%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentDoor[i].installValue"
              />
              <input
                placeholder="Cantidad"
                fxFlex="10%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentDoor[i].quantity"
              />
            </div>
            <div
              fxFlex="10%"
              fxLayoutAlign="space-evenly"
              style="display: flex"
            >
              <mat-icon
                style="cursor: pointer"
                color="primary"
                (click)="addDoorItem(i)"
                >add</mat-icon
              >
              <mat-icon
                style="cursor: pointer"
                color="primary"
                matTooltip="Lista de Módulos"
                (click)="modules('Door', i)"
                >settings</mat-icon
              >
              <mat-icon
                style="cursor: pointer"
                color="primary"
                *ngIf="componentDoor.length !== 1"
                (click)="removeDoorItem(i)"
                >delete_forever
              </mat-icon>
            </div>
          </div>
        </div>
      </div>

      <div
        class="app-modal-content"
        style="height: auto; flex: none; padding: 10px"
        *ngIf="groupList[1].checked"
      >
        <h2 style="margin: 0">Closets</h2>
        <div
          fxFlex="100%"
          fxLayoutGap="10px"
          style="display: flex; align-items: flex-end; margin-bottom: 5px"
        >
          <div fxFlex="11%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Nombre</b></label
            >
          </div>
          <div fxFlex="11%">
            <label style="font-size: 12px; align-items: flex-start">
              <b>Referencia</b></label
            >
          </div>
          <div fxFlex="30%">
            <label style="font-size: 12px; align-items: flex-start">
              <b>Descripción</b>
            </label>
                    </div>
                    <div fxFlex="25%">
                        <label style="font-size: 12px; align-items: flex-start">
              <b>Dimensiones</b>
            </label>
                    </div>
                    <div fxFlex="3%">
                        <label style="font-size: 12px; align-items: flex-start"><b>Mt 2</b></label
            >
          </div>
          <div fxFlex="12.5%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Vr.Suminstro</b></label
            >
          </div>
          <div fxFlex="12%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Vr.Instalación</b></label
            >
          </div>
          <div fxFlex="8%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Cantidad</b></label
            >
          </div>
          <div fxFlex="6%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Options</b></label
            >
          </div>
        </div>

        <div fxLayout="column" *ngFor="let item of componentCloset; index as i">
          <div
            fxFlex="100%"
            fxLayoutGap="10px"
            style="display: flex; align-items: flex-end; margin-bottom: 5px"
          >
            <div fxFlex="40%">
              <input
                placeholder="ingresar texto"
                fxFlex="30%"
                fxFlexAlign="stretch"
                type="text"
                [(ngModel)]="componentCloset[i].name"
              />
              <input
                placeholder="ref"
                fxFlex="30%"
                fxFlexAlign="stretch"
                type="text"
                [(ngModel)]="componentCloset[i].reference"
              />
              <input
                placeholder="desc"
                fxFlex="40%"
                fxFlexAlign="stretch"
                type="text"
                [(ngModel)]="componentCloset[i].description"
              />
            </div>
            <div
              fxFlex="15%"
              style="
                display: flex;
                justify-content: space-evenly;
                align-items: center;
              "
            >
              <input
                placeholder="Ancho"
                fxFlex="33%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentCloset[i].dimensions.width"
              />
              <b>x</b>
              <input
                placeholder="Alto"
                fxFlex="33%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentCloset[i].dimensions.height"
              />
              <b>x</b>
              <input
                placeholder="Prof"
                fxFlex="33%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentCloset[i].dimensions.depth"
              />
            </div>
            <div
              fxFlex="35%"
              style="display: flex; justify-content: space-between"
            >
              <input
                placeholder="area"
                fxFlex="10%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentCloset[i].dimensions.area"
              />
              <input
                placeholder="$0.00"
                fxFlex="40%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentCloset[i].supplyValue"
              />
              <input
                placeholder="$0.00"
                fxFlex="40%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentCloset[i].installValue"
              />
              <input
                placeholder="Cantidad"
                fxFlex="10%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentCloset[i].quantity"
              />
            </div>
            <div
              fxFlex="10%"
              fxLayoutAlign="space-evenly"
              style="display: flex"
            >
              <mat-icon
                style="cursor: pointer"
                color="primary"
                (click)="addClosetItem(i)"
                >add</mat-icon
              >
              <mat-icon
                style="cursor: pointer"
                color="primary"
                matTooltip="Lista de Módulos"
                (click)="modules('Closet', i)"
                >settings</mat-icon
              >
              <mat-icon
                style="cursor: pointer"
                color="primary"
                *ngIf="componentCloset.length !== 1"
                (click)="removeClosetItem(i)"
                >delete_forever
              </mat-icon>
            </div>
          </div>
        </div>
      </div>

      <div
        class="app-modal-content"
        style="height: auto; flex: none; padding: 10px"
        *ngIf="groupList[2].checked"
      >
        <h2 style="margin: 0">Cocinas</h2>
        <div
          fxFlex="100%"
          fxLayoutGap="10px"
          style="display: flex; align-items: flex-end; margin-bottom: 5px"
        >
          <div fxFlex="11%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Nombre</b></label
            >
          </div>
          <div fxFlex="11%">
            <label style="font-size: 12px; align-items: flex-start">
              <b>Referencia</b></label
            >
          </div>
          <div fxFlex="30%">
            <label style="font-size: 12px; align-items: flex-start">
              <b>Descripción</b>
            </label>
                    </div>
                    <div fxFlex="25%">
                        <label style="font-size: 12px; align-items: flex-start">
              <b>Dimensiones</b>
            </label>
                    </div>
                    <div fxFlex="3%">
                        <label style="font-size: 12px; align-items: flex-start"><b>Mt 2</b></label
            >
          </div>
          <div fxFlex="12.5%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Vr.Suminstro</b></label
            >
          </div>
          <div fxFlex="12%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Vr.Instalación</b></label
            >
          </div>
          <div fxFlex="8%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Cantidad</b></label
            >
          </div>
          <div fxFlex="6%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Options</b></label
            >
          </div>
        </div>

        <div
          fxLayout="column"
          *ngFor="let item of componentCuisine; index as i"
        >
          <div
            fxFlex="100%"
            fxLayoutGap="10px"
            style="display: flex; align-items: flex-end; margin-bottom: 5px"
          >
            <div fxFlex="40%">
              <input
                placeholder="ingresar texto"
                fxFlex="30%"
                fxFlexAlign="stretch"
                type="text"
                [(ngModel)]="componentCuisine[i].name"
              />
              <input
                placeholder="ref"
                fxFlex="30%"
                fxFlexAlign="stretch"
                type="text"
                [(ngModel)]="componentCuisine[i].reference"
              />
              <input
                placeholder="desc"
                fxFlex="40%"
                fxFlexAlign="stretch"
                type="text"
                [(ngModel)]="componentCuisine[i].description"
              />
            </div>
            <div
              fxFlex="15%"
              style="
                display: flex;
                justify-content: space-evenly;
                align-items: center;
              "
            >
              <input
                placeholder="Ancho"
                fxFlex="33%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentCuisine[i].dimensions.width"
              />
              <b>x</b>
              <input
                placeholder="Alto"
                fxFlex="33%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentCuisine[i].dimensions.height"
              />
              <b>x</b>
              <input
                placeholder="Prof"
                fxFlex="33%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentCuisine[i].dimensions.depth"
              />
            </div>
            <div
              fxFlex="35%"
              style="display: flex; justify-content: space-between"
            >
              <input
                placeholder="area"
                fxFlex="10%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentCuisine[i].dimensions.area"
              />
              <input
                placeholder="$0.00"
                fxFlex="40%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentCuisine[i].supplyValue"
              />
              <input
                placeholder="$0.00"
                fxFlex="40%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentCuisine[i].installValue"
              />
              <input
                placeholder="Cantidad"
                fxFlex="10%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentCuisine[i].quantity"
              />
            </div>
            <div
              fxFlex="10%"
              fxLayoutAlign="space-evenly"
              style="display: flex"
            >
              <mat-icon
                style="cursor: pointer"
                color="primary"
                (click)="addCuisineItem(i)"
                >add</mat-icon
              >
              <mat-icon
                style="cursor: pointer"
                color="primary"
                matTooltip="Lista de Módulos"
                (click)="modules('Cuisine', i)"
                >settings</mat-icon
              >
              <mat-icon
                style="cursor: pointer"
                color="primary"
                *ngIf="componentCuisine.length !== 1"
                (click)="removeCuisineItem(i)"
                >delete_forever
              </mat-icon>
            </div>
          </div>
        </div>
      </div>

      <div
        class="app-modal-content"
        style="height: auto; flex: none; padding: 10px"
        *ngIf="groupList[3].checked"
      >
        <h2 style="margin: 0">Baños</h2>
        <div
          fxFlex="100%"
          fxLayoutGap="10px"
          style="display: flex; align-items: flex-end; margin-bottom: 5px"
        >
          <div fxFlex="11%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Nombre</b></label
            >
          </div>
          <div fxFlex="11%">
            <label style="font-size: 12px; align-items: flex-start">
              <b>Referencia</b></label
            >
          </div>
          <div fxFlex="30%">
            <label style="font-size: 12px; align-items: flex-start">
              <b>Descripción</b>
            </label>
                    </div>
                    <div fxFlex="25%">
                        <label style="font-size: 12px; align-items: flex-start">
              <b>Dimensiones</b>
            </label>
                    </div>
                    <div fxFlex="3%">
                        <label style="font-size: 12px; align-items: flex-start"><b>Mt 2</b></label
            >
          </div>
          <div fxFlex="12.5%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Vr.Suminstro</b></label
            >
          </div>
          <div fxFlex="12%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Vr.Instalación</b></label
            >
          </div>
          <div fxFlex="8%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Cantidad</b></label
            >
          </div>
          <div fxFlex="6%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Options</b></label
            >
          </div>
        </div>

        <div fxLayout="column" *ngFor="let item of componentBath; index as i">
          <div
            fxFlex="100%"
            fxLayoutGap="10px"
            style="display: flex; align-items: flex-end; margin-bottom: 5px"
          >
            <div fxFlex="40%">
              <input
                placeholder="ingresar texto"
                fxFlex="30%"
                fxFlexAlign="stretch"
                type="text"
                [(ngModel)]="componentBath[i].name"
              />
              <input
                placeholder="ref"
                fxFlex="30%"
                fxFlexAlign="stretch"
                type="text"
                [(ngModel)]="componentBath[i].reference"
              />
              <input
                placeholder="desc"
                fxFlex="40%"
                fxFlexAlign="stretch"
                type="text"
                [(ngModel)]="componentBath[i].description"
              />
            </div>
            <div
              fxFlex="15%"
              style="
                display: flex;
                justify-content: space-evenly;
                align-items: center;
              "
            >
              <input
                placeholder="Ancho"
                fxFlex="33%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentBath[i].dimensions.width"
              />
              <b>x</b>
              <input
                placeholder="Alto"
                fxFlex="33%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentBath[i].dimensions.height"
              />
              <b>x</b>
              <input
                placeholder="Prof"
                fxFlex="33%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentBath[i].dimensions.depth"
              />
            </div>
            <div
              fxFlex="35%"
              style="display: flex; justify-content: space-between"
            >
              <input
                placeholder="area"
                fxFlex="10%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentBath[i].dimensions.area"
              />
              <input
                placeholder="$0.00"
                fxFlex="40%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentBath[i].supplyValue"
              />
              <input
                placeholder="$0.00"
                fxFlex="40%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentBath[i].installValue"
              />
              <input
                placeholder="Cantidad"
                fxFlex="10%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentBath[i].quantity"
              />
            </div>
            <div
              fxFlex="10%"
              fxLayoutAlign="space-evenly"
              style="display: flex"
            >
              <mat-icon
                style="cursor: pointer"
                color="primary"
                (click)="addBathItem(i)"
                >add</mat-icon
              >
              <mat-icon
                style="cursor: pointer"
                color="primary"
                matTooltip="Lista de Módulos"
                (click)="modules('Bath', i)"
                >settings</mat-icon
              >
              <mat-icon
                style="cursor: pointer"
                color="primary"
                *ngIf="componentBath.length !== 1"
                (click)="removeBathItem(i)"
                >delete_forever
              </mat-icon>
            </div>
          </div>
        </div>
      </div>

      <div
        class="app-modal-content"
        style="height: auto; flex: none; padding: 10px"
        *ngIf="groupList[4].checked"
      >
        <h2 style="margin: 0">Otro</h2>
        <div
          fxFlex="100%"
          fxLayoutGap="10px"
          style="display: flex; align-items: flex-end; margin-bottom: 5px"
        >
          <div fxFlex="11%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Nombre</b></label
            >
          </div>
          <div fxFlex="11%">
            <label style="font-size: 12px; align-items: flex-start">
              <b>Referencia</b></label
            >
          </div>
          <div fxFlex="30%">
            <label style="font-size: 12px; align-items: flex-start">
              <b>Descripción</b>
            </label>
                    </div>
                    <div fxFlex="25%">
                        <label style="font-size: 12px; align-items: flex-start">
              <b>Dimensiones</b>
            </label>
                    </div>
                    <div fxFlex="3%">
                        <label style="font-size: 12px; align-items: flex-start"><b>Mt 2</b></label
            >
          </div>
          <div fxFlex="12.5%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Vr.Suminstro</b></label
            >
          </div>
          <div fxFlex="12%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Vr.Instalación</b></label
            >
          </div>
          <div fxFlex="8%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Cantidad</b></label
            >
          </div>
          <div fxFlex="6%">
            <label style="font-size: 12px; align-items: flex-start"
              ><b>Options</b></label
            >
          </div>
        </div>

        <div fxLayout="column" *ngFor="let item of componentOther; index as i">
          <div
            fxFlex="100%"
            fxLayoutGap="10px"
            style="display: flex; align-items: flex-end; margin-bottom: 5px"
          >
            <div fxFlex="40%">
              <input
                placeholder="ingresar texto"
                fxFlex="30%"
                fxFlexAlign="stretch"
                type="text"
                [(ngModel)]="componentOther[i].name"
              />
              <input
                placeholder="ref"
                fxFlex="30%"
                fxFlexAlign="stretch"
                type="text"
                [(ngModel)]="componentOther[i].reference"
              />
              <input
                placeholder="desc"
                fxFlex="40%"
                fxFlexAlign="stretch"
                type="text"
                [(ngModel)]="componentOther[i].description"
              />
            </div>
            <div
              fxFlex="15%"
              style="
                display: flex;
                justify-content: space-evenly;
                align-items: center;
              "
            >
              <input
                placeholder="Ancho"
                fxFlex="33%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentOther[i].dimensions.width"
              />
              <b>x</b>
              <input
                placeholder="Alto"
                fxFlex="33%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentOther[i].dimensions.height"
              />
              <b>x</b>
              <input
                placeholder="Prof"
                fxFlex="33%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentOther[i].dimensions.depth"
              />
            </div>
            <div
              fxFlex="35%"
              style="display: flex; justify-content: space-between"
            >
              <input
                placeholder="area"
                fxFlex="10%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentOther[i].dimensions.area"
              />
              <input
                placeholder="$0.00"
                fxFlex="40%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentOther[i].supplyValue"
              />
              <input
                placeholder="$0.00"
                fxFlex="40%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentOther[i].installValue"
              />
              <input
                placeholder="Cantidad"
                fxFlex="10%"
                fxFlexAlign="stretch"
                type="number"
                [(ngModel)]="componentOther[i].quantity"
              />
            </div>
            <div
              fxFlex="10%"
              fxLayoutAlign="space-evenly"
              style="display: flex"
            >
              <mat-icon
                style="cursor: pointer"
                color="primary"
                (click)="addOtherItem(i)"
                >add</mat-icon
              >
              <mat-icon
                style="cursor: pointer"
                color="primary"
                matTooltip="Lista de Módulos"
                (click)="modules('Other', i)"
                >settings</mat-icon
              >
              <mat-icon
                style="cursor: pointer"
                color="primary"
                *ngIf="componentOther.length !== 1"
                (click)="removeOtherItem(i)"
                >delete_forever
              </mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="app-modal-actions">
    <button align="end" mat-stroked-button color="primary" mat-dialog-close>
      Cancelar
    </button>
    <button
      align="end"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="
        !obj.responsible ||
        !obj.tlClientName ||
        !obj.tlProjectName ||
        !obj.tlProjectAddress ||
        !obj.tlProjectEmails ||
        !obj.tlConfirmationNumber ||
        !obj.userName ||
        !obj.status
      "
      (click)="onSave()"
    >
      Guardar
    </button>
  </div>
</div>