@import '~ngx-toastr/toastr.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-balham.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
html,
body {
    height: 100%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

.no-margin {
    margin: 0 !important;
}

.p20 {
    padding: 20px !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.app-title {
    color: teal;
}

.title-container {
    display: flex;
    width: 100% !important;
    justify-content: space-between;
}

.inline-panel {
    display: flex;
    gap: 2px;
}

.content-view {
    margin: 10px;
    height: 85%;
}

.extra-contact-modal,
.modal-group,
.custom-modal {
    .mat-dialog-container,
    .mat-dialog-content {
        padding: 0;
        margin: 0;
    }
}

.state-radio .mat-radio-label-content {
    padding-right: 8px;
}

.app-modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .app-modal-label {
        font-size: 20px;
        font-weight: 500;
        padding: 20px;
        margin: 0;
        height: 60px;
        display: flex;
        align-items: center;
        background: #f5f5f5;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
        z-index: 3;
        width: 100%;
        box-sizing: border-box;
    }
    .app-modal-label-small {
        font-size: 15px;
        font-weight: 500;
        padding: 20px;
        margin: 0;
        height: 60px;
        display: flex;
        align-items: center;
        background: #f5f5f5;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
        z-index: 3;
        width: 100%;
        box-sizing: border-box;
    }
    .app-modal-content {
        height: calc(100% - 120px);
        overflow: auto;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    .app-modal-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 60px;
        background: #f5f5f5;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.12);
        z-index: 3;
        width: 100%;
        box-sizing: border-box;
        button {
            margin-right: 10px;
        }
    }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.full-height {
    height: 100%;
}